:global {
	@import "normalize";
	
	*, *:before, *:after {
		box-sizing: border-box;
	}

	body {
		overflow-y: scroll;
		font-family: 'Nunito', Arial, Helvetica, sans-serif;
		font-weight: 300;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}