@font-face {
    font-family: 'Nunito';
    src: url('./nunito-regular-webfont.woff2') format('woff2'),
         url('./nunito-regular-webfont.woff') format('woff'),
         url('./nunito-regular-webfont.ttf') format('truetype');
    // src: url('./nunito-light-webfont.woff2') format('woff2'),
    //      url('./nunito-light-webfont.woff') format('woff'),
    //      url('./nunito-light-webfont.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Nunito';
    src: url('./nunito-regular-webfont.woff2') format('woff2'),
         url('./nunito-regular-webfont.woff') format('woff'),
         url('./nunito-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Nunito';
    src: url('./nunito-bold.woff2') format('woff2'),
         url('./nunito-bold.woff') format('woff'),
         url('./nunito-bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
