 {
  /*! normalize.css v3.0.2 | MIT License | git.io/normalize */
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
form {
  margin: 0;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
.icon {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  overflow-y: scroll;
  font-family: 'Nunito', Arial, Helvetica, sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.splashScreen__root {
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #29282e;
}
.splashScreen__container {
  max-width: 1090px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}
.splashScreen__banner {
  width: 100%;
  background-color: #0e0f13;
}
.splashScreen__bannerContainer {
  max-width: 1090px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  height: 100%;
  padding-top: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1024px) {
  .splashScreen__bannerContainer {
    height: 420px;
    padding-top: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.splashScreen__bannerText {
  height: 100%;
  width: 250px;
  padding: 40px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  color: #ffffff;
}
.splashScreen__bannerMedia {
  max-width: 700px;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.splashScreen__bannerImage {
  display: block;
  width: 100%;
  -webkit-transform: translate3d(0, 10.8%, 0);
          transform: translate3d(0, 10.8%, 0);
}
.splashScreen__about {
  width: 100%;
  padding: 60px 20px 80px;
  background-color: #29282e;
}
.splashScreen__aboutContainer {
  max-width: 600px;
  margin: 0 auto;
}
.splashScreen__aboutTitle {
  margin: 0 0 54px;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: -0.8px;
  text-align: center;
  color: #fff;
}
.splashScreen__aboutText {
  margin: 30px 0;
  font-size: 14px;
  color: #fff;
}
.splashScreen__aboutText a {
  color: #ec2909;
}
.splashScreen__footer {
  width: 100%;
  height: 95px;
  border-top: 4px solid #fff;
  background-color: #ec2909;
}
.splashScreen__footerContainer {
  max-width: 1090px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.splashScreen__copyright {
  font-size: 13px;
  letter-spacing: -0.2px;
  color: #fff;
}
@font-face {
	font-family: "gigawatt";
	src: url("/ce94505e8270bd50e4fb93b861be3265-gigawatt.eot?#iefix") format("embedded-opentype"),
url("/ee6308f41854ff208700f6bdd0ee3fa3-gigawatt.woff") format("woff"),
url("/3963e851b9fe12854540f0b2e215881f-gigawatt.ttf") format("truetype"),
url("/dcc757863df3297c5a29084594c483ad-gigawatt.svg#gigawatt") format("svg");
}

.icon {
	line-height: 1;
}

.icon:before {
	font-family: gigawatt !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.icon-close:before {
	content: "\F101";
}
@font-face {
  font-family: 'Nunito';
  src: url(/assets/fonts/nunito-regular-webfont.woff2) format('woff2'), url(/assets/fonts/nunito-regular-webfont.woff) format('woff'), url(/assets/fonts/nunito-regular-webfont.ttf) format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Nunito';
  src: url(/assets/fonts/nunito-regular-webfont.woff2) format('woff2'), url(/assets/fonts/nunito-regular-webfont.woff) format('woff'), url(/assets/fonts/nunito-regular-webfont.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Nunito';
  src: url(/assets/fonts/nunito-bold.woff2) format('woff2'), url(/assets/fonts/nunito-bold.woff) format('woff'), url(/assets/fonts/nunito-bold.ttf) format('truetype');
  font-weight: 600;
  font-style: normal;
}
