@import "common.less";

:global {
	body {
		background-color: #f5f5f5;
	}
}

.root {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #313131;
	
}

.container {
	max-width: 400px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-bottom: 30px;
}

.logo {
	max-width: 200px;
}

.card {
	border-radius: 4px;
	background-color: #fff;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.user {
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background: #fff0f0;
	border-radius: 4px 4px 0 0;
}

.userPic {
	display: block;
	width: 80px;
	height: 80px;
	margin-bottom: 10px;
	border-radius: 50%;
	background-size: cover;
	background-position: center;
}

.userName {
	color: #313131;
}

.tint {
	padding: 40px 20px 15px 55px;
}
.tintTitle {
	display: block;
	font-weight: 700;
}

.permissions {
}

.permissionRow {
	padding: 10px 20px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	border-top: 1px solid #f0f0f0;
}

.permissionCheckbox {
	font-size: 25px;
}

.permissionContent {
	padding-left: 20px;
}

.permissionTitle {
	font-size: 18px;
	font-weight: 700;
}

.permissionDescription {
	font-size: 12px;
}

.acceptAction {
	display: block;
	width: 100%;
	height: 50px;
	margin-top: 20px;
	border: 0;
	background-color: #ff2d55;
	border-radius: 0 0 4px 4px;
	color: #fff;
}

.declineAction {
	display: inline-block;
	padding: 20px;
	color: #888;
}

.checkbox {
	width: 15px;
}

.popup {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.3);
	opacity: 0;
	transition: opacity .3s;
	pointer-events: none;

	&._open {
		pointer-events: all;
		opacity: 1;

		.popupContent {
			transform: translateY(0);
		}
	}
}

.popupContainer {
	display: block;
	width: 300px;
	background: #fff;
	transform: translateY(20px);
	transition: transform .3s;
}


.popupContent {
	padding: 20px 20px 10px;
}

.popupText {
	color: #313131;
	font-size: 14px;
}

.popupInput {
	width: 100%;
	border: 0;
	margin-top: 10px;
	border-bottom: 2px solid #f0f0f0;
	text-align: center;
	font-size: 30px;
	letter-spacing: 15px;
	padding-left: 5px;
	outline: none;
	border-radius: 0;
}

.popupButton {
	display: block;
	width: 100%;
	height: 50px;
	margin-top: 20px;
	border: 0;
	background-color: #ff2d55;
	color: #fff;
	outline: none;
	border-radius: 0;
}
